In [44]:
import pandas as pd
import numpy as np

In [45]:
d = {
    'a':[1,3,4,2],
    'b':[2,1,4,3],
    'c':[1,4,2,5],
    'd':[4,3,2,1]
}
df = pd.DataFrame(d)
df

   a  b  c  d
0  1  2  1  4
1  3  1  4  3
2  4  4  2  2
3  2  3  5  1

In [46]:
df['e'] = df.apply(lambda x: "".join(x[np.argsort(x).values].index),axis = 1)

In [47]:
df

   a  b  c  d     e
0  1  2  1  4  acbd
1  3  1  4  3  badc
2  4  4  2  2  cdab
3  2  3  5  1  dabc